.chapter(data-title='Twilio Chat')
  .step(data-title='Introduction',
        data-file='app.js')
    :markdown
      ## Introduction

      Ready to implement a chat application using Twilio IP Messaging Client and 
      Node.js | [Express](//expressjs.com/en/index.html)?

      This application allow users to exchange messages through different channels,
      using the Twilio IP Messaging API. On this example, we'll show how to use 
      this API capabilities to manage channels and their usages.

      ---

      **See Also:**
      * [Getting Started with Express](//expressjs.com/en/starter/installing.html)
      * [IP Messaging API](//www.twilio.com/docs/api/ip-messaging)
      * [Channels and Messages](//www.twilio.com/docs/api/ip-messaging/guides/channels)
      * [User Identity & Access Tokens](//www.twilio.com/docs/api/ip-messaging/guides/identity)
      * [Twilio IP Messaging Client Reference](//media.twiliocdn.com/sdk/rtc/js/ip-messaging/releases/0.9.2/docs/api/)
      
  .step(data-title='Token Generation',
        data-file='services/tokenService.js')
    :markdown
      ## Token Generation

      In order to create a Twilio IP messaging client, you will need an access
      token. This token holds information about your Twilio Account and IP
      Messaging API keys.

      We generate this token by creating a new `AccessToken` and providing it with
      an `IpMessagingGrant`. The new AccessToken object is created using your Twilio
      credentials.
      
      ---

      ** See also **
      * [The Twilio Node Helper Library](//www.twilio.com/docs/node/install)
      * [Twilio API Access Tokens](//www.twilio.com/docs/api/rest/access-tokens)
      
  
  .step(data-title='Token Generation Controller',
        data-file='routes/token.js',
        data-highlight='5-17')
    :markdown
      ## Token Generation Controller

      On our controller we expose the endpoint responsible for providing a valid
      token. Using the information provided as parameters:

      * `device`: identifies the device being used.  
      * `identity`: identifies the user itself.

      Once we have used the `tokenService` object to generate a token we can use
      the AccessToken's method as `token.toJwt()` to get the token as a String.
      Then we just return the token as a JSON encoded string.
  
  .step(data-title='Initializing the Client',
        data-file='public/js/twiliochat.js',
        data-highlight='81-88,91-93')
    :markdown
      ## Initializing the IP Messaging Client

      On our client, we fetch a new Token using a POST request to our endpoint.

      With the token we can create a new `Twilio.AccessManager` that
      is used to initialize our `Twilio.IPMessaging.Client`.
      
  .step(data-title='Getting the Channel List',
            data-file='public/js/twiliochat.js',
            data-highlight='124-131')
    :markdown
      ## Getting the Channel List

      After initializing the client, we can call its method `getChannels`
      to retrieve all visible channels. The method returns a promise which we use to show the list of channels retrieved on the UI.

      --- 

      ** See Also **
      * [Client API: Get Channels](//media.twiliocdn.com/sdk/rtc/js/ip-messaging/releases/0.9.2/docs/api/Client.html#getChannels)

  .step(data-title='Join the General Channel',
        data-file='public/js/twiliochat.js',
        data-highlight='134-151')
    :markdown
      ## Join the General Channel

      This application will try to join a channel called "General Channel" when it starts.
      If the channel doesn't exist, we'll create one with that name. The scope of
      this example application will show you how to work only with public channels,
      but the IP Messaging client allows you to create private channels and handle
      invitations.

      Notice we set a unique name for the general channel as we don't want to
      create a new general channel every time we start the application.

  .step(data-title='Listen to Channel Events',
        data-file='public/js/twiliochat.js',
        data-highlight='161-165')
    :markdown
      ## Listen to Channel Events

      Next we listen for channel events. In our case, we're setting listeners to the
      following events:

      * `messageAdded`: When another member sends a message to the channel you are connected to.
      * `typingStarted`: When another member is typing a message on the channel that you are connected to.
      * `typingEnded`: When another member stops typing a message on the channel that you are connected to.
      * `memberJoined`: When another member joins the channel that you are connected to.
      * `memberLeft`: When another member leaves the channel that you are connected to.

      We register a different function to handle each particular event.

      ---

      *** For a complete list of channel events ***
      * [Channel API](https://media.twiliocdn.com/sdk/rtc/js/ip-messaging/releases/0.9.2/docs/api/Channel.html)

  .step(data-title='Listen to Client Events',
        data-file='public/js/twiliochat.js',
        data-highlight='96-98')
    :markdown
      ## Listen to Client Events

      Just like with channels, we can register handlers for events on the Client:

      * `channelAdded`: When a channel becomes visible to the Client.
      * `channelRemoved`: When a channel is no longer visible to the Client.
      * `tokenExpired`: When the supplied token expires.

      *** For a complete list of client events ***
      * [IP Messaging Client API](https://media.twiliocdn.com/sdk/rtc/js/ip-messaging/releases/0.9.2/docs/api/Client.html)

  .step(data-title='Creating a Channel',
        data-file='public/js/twiliochat.js',
        data-highlight='60-68')
    :markdown
      ## Creating a Channel

      When a user clicks on the "+ Channel" link we'll show
      an input text field where it's possible to type the name of the new channel.
      Creating a channel is as simple as calling `createChannel` with an object that has the `friendlyName` key. You can create a channel
      with more options listed [here](//media.twiliocdn.com/sdk/rtc/js/ip-messaging/releases/0.9.2/docs/api/Client.html#createChannel).

      --- 

      ** See Also **
      * [IP Messaging Client API: Create a Channel](//media.twiliocdn.com/sdk/rtc/js/ip-messaging/releases/0.9.2/docs/api/Client.html#createChannel)


  .step(data-title='Joining Other Channels',
        data-file='public/js/twiliochat.js',
        data-highlight='300-310')
    :markdown
      ## Joining Other Channels

      When you tap on the name of a channel from the sidebar, that channel is set
      as the `selectedChannel`. The `selectChannel` method takes care of joining
      to the selected channel and setting up the `selectedChannel`.

  .step(data-title='Deleting a Channel',
        data-file='public/js/twiliochat.js',
        data-highlight='286-298')
    :markdown
      ## Deleting a Channel

      Deleting a channel is even more simple than creating one. The application
      lets the user delete the channel they are currently joined to through the
      "delete current channel" link. The only thing you need to do to
      actually delete the channel from Twilio, is call the `delete` method
      on the channel you are trying to delete. Like other methods on the `Channel`
      object, it'll return a promise where you can set the success handler.

      ---

      ** See Also **
      * [Channel API: Create a Channel](//media.twiliocdn.com/sdk/rtc/js/ip-messaging/releases/0.9.2/docs/api/Channel.html#delete)
  .step(data-title='Where to Next?')
    :markdown
      ## Where to Next?

      That's it! We've just implemented a simple chat application for Node.js using
      Express. If you are a Node developer working with Twilio,  you might want
      to check out these other tutorials:

      [**Click-To-Call**](//www.twilio.com/docs/howto/walkthrough/click-to-call/node/express)

      Put a button on your web page that connects visitors to live support or sales people via telephone.

      [**Automated Survey**](//www.twilio.com/docs/howto/walkthrough/automated-survey/node/express)

      Instantly collect structured data from your users with a survey conducted
      over a voice call or SMS text messages.

      ## Did this help?

      Thanks for checking out this tutorial! If you have any feedback to share
      with us, we'd love to hear it. Tweet
      [@twilio](http://twitter.com/twilio) to let us know what you think.
